<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-blur">

    <!-- Dashboard Tab -->
    <ion-tab title="天气" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/weather">
        <ion-nav-view name="tab-weather"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="全国" icon-off="ion-ios-location-outline" icon-on="ion-ios-location href="#/app/browse">
        <ion-nav-view name="app-browse"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab badge="2" badge-style="badge-assertive" title="账户" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/playlists">
        <ion-nav-view name="app-playlists"></ion-nav-view>
    </ion-tab>


    <!--
    http://wangxinsheng.herokuapp.com/weather
    http://erikflowers.github.io/weather-icons/  天气图标
    https://github.com/lodengo/alipay 支付宝
    http://www.tuicool.com/articles/rABfUvm AngularJS之Factory vs Service vs Provider

    https://developer.chrome.com/devtools/docs/remote-debugging android远程调试
    http://www.tuicool.com/articles/zeiy6ff angular ui-route
    http://dbushell.com/2012/03/11/svg-all-fun-and-games/ svg学习


    http://www.ui.cn/detail/50243.html
    http://www.ui.cn/detail/44449.html
    http://www.ui.cn/detail/6801.html
    -->

</ion-tabs>