<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-blur">

    <!-- Dashboard Tab -->
    <ion-tab badge="2" badge-style="badge-assertive" title="天气" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/weather">
        <ion-nav-view name="tab-weather"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="实景" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/browse">
        <ion-nav-view name="app-browse"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="账户" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/playlists">
        <ion-nav-view name="app-playlists"></ion-nav-view>
    </ion-tab>


</ion-tabs>