<ion-view cache-view="false">
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="buttons button-clear buttons-left header-item">
            <img class="avatar" ng-src="{{user.avatar || 'img/user.jpg'}}">
        </button>
        <h1 class="title">{{vm.weather.today.city}}</h1>
        <a ui-sref="cityManager" nav-direction="forward" nav-transition="android" class="buttons button button-icon icon ion-android-globe"></a>
    </ion-header-bar>
    <ion-content class="weather-bg has-header">
        <ion-refresher
                pulling-text="下拉刷新..."
                pulling-icon="ion-ios-cloud-outline"
                spinner="spinner-light"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row">
            <div class="col text-right">
                <p>
                    <small class="ft-white">{{vm.weather.today.date_y}} {{vm.weather.today.week}}</small>
                </p>
            </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="changeCity($index)">
            <ion-slide ng-repeat="city in vm.citys">
                <div class="row row-center">
                    <div class="col text-center">
                        <p>
                            <i class="wi ft-white fts-5 padding-10" ng-class="city.today.fa | weatherIcon"></i>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"><h1 class="ft-white padding-10">{{city.today.temperature}}°</h1></div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bar bar-subfooter over-subFooter">
        <div class="row">
            <div class="col text-left padding-left-10"><h2 class="ft-white">{{vm.weather.today.weather}}</h2></div>
            <div class="col text-right">
                <button ng-click="login()" class="button button-clear button-icon ft-white ion-grid"></button>
            </div>
        </div>
        <div class="row">
            <div class="col text-left padding-left-10"><p class="ft-white fts-5">{{vm.weather.sk.temp}}°</p></div>
            <div class="col text-right">
                <button class="button button-clear button-icon ion-heart ft-red"></button>
            </div>
        </div>
        <div class="row">
            <div class="col text-left padding-left-10">
                <h5 class="ft-white">
                    <span class="margin-10"><i class="icon ion-navigate"></i>{{vm.weather.sk.wind_direction}} {{vm.weather.sk.wind_strength}}</span>
                    <span><i class="icon ion-waterdrop"></i>{{vm.weather.sk.humidity}}%</span>
                </h5>
            </div>
            <div class="col text-right">
                <button class="button button-clear air-bg">
                    <i class="icon ion-leaf ft-green"></i> <span class="ft-white">{{vm.weather.sk.temp | number}}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-left padding-left-10">
                <p class="ft-white">
                    下午 {{vm.weather.sk.time}} 发布
                </p>
            </div>
        </div>
    </div>
</ion-view>
