<ion-header-bar align-title="center" class="bar-positive">
    <button class="buttons button-clear buttons-left header-item">
        <img class="avatar" ng-src="{{user.avatar || 'img/user.jpg'}}">
    </button>
    <h1 class="title">深 圳</h1>
    <button class="buttons button button-icon icon ion-plus"></button>
</ion-header-bar>

<ion-view>
  <ion-content class="weather-bg has-header">
      <ion-slide-box show-pager="true">
          <ion-slide>
              <div class="row row-center">
                  <div class="col col-center text-center">
                      <p>
                          <i class="wi wi-day-lightning"></i>
                      </p>
                      <h2>-2~5</h2>
                  </div>
              </div>
          </ion-slide>
      </ion-slide-box>

  </ion-content>
</ion-view>
