<ion-view view-title="意见反馈">
    <ion-header-bar align-title="center" class="bar-dark">
        <a ui-sref="app.profile" nav-direction="back" nav-transition="android" class="button button-icon icon ion-ios-arrow-back"></a>
        <h1 class="title">关于</h1>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="row">
            <div class="col text-center">
                <img src="img/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">知馨天气Android版</div>
        </div>
        <div class="row">
            <div class="col text-center">V1.0.0 正式版</div>
        </div>
    </ion-content>
</ion-view>


