<ion-view view-title="天气背景">
    <ion-header-bar align-title="center" class="bar-dark">
        <a ui-sref="app.profile" nav-direction="back" nav-transition="android" class="button button-icon icon ion-ios-arrow-back"></a>
        <h1 class="title">天气背景</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="list card no-margin-bottom">

                    <div class="item item-image">
                        <img src="http://imgstore.cdn.sogou.com/app/a/100540002/981051_s_90_2_219x160.jpg">
                    </div>
                    <div class="row no-padding">
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block pull-left">
                                应 用
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block icon-left ion-ios-heart pull-right">
                                0
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list card no-margin-bottom">

                    <div class="item item-image">
                        <img src="http://imgstore.cdn.sogou.com/app/a/100540002//701723_s_90_2_219x160.jpg">
                    </div>
                    <div class="row no-padding">
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block pull-left">
                                应 用
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block icon-left ion-ios-heart pull-right">
                                0
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list card no-margin-bottom">

                    <div class="item item-image">
                        <img src="http://imgstore.cdn.sogou.com/app/a/100540002//714984_s_90_2_219x160.jpg">
                    </div>
                    <div class="row no-padding">
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block pull-left">
                                应 用
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block icon-left ion-ios-heart pull-right">
                                0
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list card no-margin-bottom">

                    <div class="item item-image">
                        <img src="http://imgstore.cdn.sogou.com/app/a/100540002//1176387_s_90_2_219x160.jpg">
                    </div>
                    <div class="row no-padding">
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block pull-left">
                                应 用
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block icon-left ion-ios-heart pull-right">
                                0
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list card no-margin-bottom">

                    <div class="item item-image">
                        <img src="http://imgstore.cdn.sogou.com/app/a/100540002//1171963_s_90_2_219x160.jpg">
                    </div>
                    <div class="row no-padding">
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block pull-left">
                                应 用
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block icon-left ion-ios-heart pull-right">
                                0
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list card no-margin-bottom">

                    <div class="item item-image">
                        <img src="http://imgstore.cdn.sogou.com/app/a/100540002//1176913_s_90_2_219x160.jpg">
                    </div>
                    <div class="row no-padding">
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block pull-left">
                                应 用
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small no-margin button-block icon-left ion-ios-heart pull-right">
                                0
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>