<ion-view view-title="城市管理">
    <ion-header-bar align-title="center" class="bar-dark">
        <a ui-sref="app.weather" nav-direction="back" nav-transition="android" class="buttons button button-icon icon ion-ios-arrow-back button-left"></a>
        <h1 class="title">城市管理</h1>
        <a ui-sref="cityAddProvince" nav-direction="forward" nav-transition="android" class="buttons button button-icon icon ion-plus-round button-right"></a>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon wi wi-cloud"></i>
                  23~28 <span class="ft-travel button-icon ion-ios-location-outline margin-left-50">  衡阳</span>
                <span class="item-note">
                  雷阵雨
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>