<ion-view cache-view="false" view-title="城市管理">
    <ion-header-bar align-title="center" class="bar-dark">
        <a ui-sref="app.weather" nav-direction="back" nav-transition="android" class="buttons button button-icon icon ion-ios-arrow-back button-left"></a>
        <h1 class="title">城市管理</h1>
        <a ui-sref="cityAddProvince" nav-direction="forward" nav-transition="android" class="buttons button button-icon icon ion-plus-round button-right"></a>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="list">
            <a ng-repeat="city in vm.cityArr" class="item item-icon-left" href="#">
                <i class="icon wi" ng-class="city.today.fa | weatherIcon"></i>
                {{city.today.temperature}} <span class="ft-travel button-icon ion-ios-location-outline margin-left-50">  {{city.today.city}}</span>
                <span class="item-note">
                  {{city.today.weather}}
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>