/* Empty. Add your own CSS if you like */
.weather-bg {
    background: url(../img/bg.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: linear-gradient(45deg, #539FA2 0%, #72B1A4 33%, #C4DBB4 67%, #ABCCB1), linear-gradient(125deg, #539FA2 0%, #72B1A4 33%, #C4DBB4 67%, #ABCCB1);*/
}

.air-bg {
    background-color: rgba(255,255,255,0.4)!important;
    border-radius: 30px;
    padding: 0px 9px!important;
}

.transparent-bg {
    background-color: transparent !important;
}

.dark-bg-3 {
    background-color: rgba(0,0,0,0.3) !important;
}

.dark-bg-4 {
    background-color: rgba(0,0,0,0.4) !important;
}

.toggle-border-color {
    border-color: #080808 !important;
}
.weather-toggle input:checked + .track {
    border-color: #4cd964 !important;
    background-color: #4cd964 !important;
}

.border-color-white-1 {
    border-color: rgba(255,255,255,0.1) !important;
}
.over-subFooter {
    background-color: transparent;
    bottom: 50px;
    color: #FFFFFF;
    height: auto;
}

/*让tabs 半透明*/
.has-tabs{
    bottom: 0 !important;
    padding-bottom:49px !important;
}
.has-tabs .scroll{
    padding-bottom:49px !important;
}
.tab-item {
    color: #fff!important;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #387ef5!important;
}
.tabs-blur .tab-nav.tabs{
    background-color: rgba(0,0,0,0.45) !important;
}

/*用户头像*/
.avatar {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.line-height-32 {
    line-height: 36px!important;
}
.line-height-34 {
    line-height: 34px!important;
}
.auto-update-padding {
    padding: 9px 16px!important;
}
/*清除input框的自动填充颜色*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
/*让header-bar 半透明*/
.scroll-content{
    top: 0 !important;
    bottom: 0 !important;
}

.has-header{
    padding-top:44px !important;
}
.has-app-subheader {
    padding-top:88px !important;
}

.has-footer{
    padding-bottom:44px !important;
}

.bar-positive{
    background: rgba(255, 255, 255,0) !important;
}
.no-border {
    border: none!important;
}
.bg-transparent {
    background-color: transparent!important;
}
.profile-padding {
    padding: 0 54px 0 0!important;
}
/*定义字体颜色*/
.font-blue {
    color: #447daa !important;
}
.ft-white {
    color: #FFFFFF !important;
}
.ft-green {
    color: #4cd964 !important;
}
.ft-red {
    color: #f15b6c !important;
}
.ft-orange {
    color: #ff7d13 !important;
}

.ft-gray {
    color: #AAAAAA !important;
}

.ft-heart {
    color: #ea66a6 !important;
}
.ft-cloth {
    color: #f7acbc !important;
}
.ft-sick {
    color: #87481f !important;
}
.ft-x {
    color: #6950a1 !important;
}
.ft-sport {
    color: #78a355 !important;
}
.ft-car {
    color: #ffe600 !important;
}
.ft-travel {
    color: #009ad6 !important;
}
.ft-sun {
    color: #ed1941 !important;

}

/*定义字体的大小*/
.fts-1 {
    font-size: 1.5em!important;
}
.fts-2 {
    font-size: 2em;
}
.fts-3 {
    font-size: 3em;
}
.fts-4 {
    font-size: 4em;
}
.fts-5 {
    font-size: 5em;
}
.fts-6 {
    font-size: 6em;
}
.fts-7 {
    font-size: 7em;
}
.fts-8 {
    font-size: 8em;
}
.fts-9 {
    font-size: 9em;
}
.fts-10 {
    font-size: 10em;
}
.fts-11 {
    font-size: 11em;
}
.fts-12 {
    font-size: 12em;
}
.fts-13 {
    font-size: 13em;
}
.fts-14 {
    font-size: 14em;
}
.fts-15 {
    font-size: 15em;
}
.fts-16 {
    font-size: 16em;
}
.fts-17 {
    font-size: 17em;
}
.fts-18 {
    font-size: 18em;
}
.fts-18 {
    font-size: 18em;
}
.fts-19 {
    font-size: 19em;
}
.fts-20 {
    font-size: 20em;
}

/*自定义padding*/
.no-padding {
    padding: 0!important;
}
.padding-10 {
    padding: 10px;
}

.padding-left-10 {
    padding-left: 10px!important;
}
.weather-search {
    padding: 0 10px!important;
}
/*自定义margin*/
.no-margin {
    margin: 0!important;
}
.no-margin-bottom {
    margin-bottom: 0!important;
}
.margin-10 {
    margin-right: 10px;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-right-15 {
    margin-right: 15px!important;
}
.margin-left-50 {
    margin-left: 50px !important;
}
/*自定义 浮动*/
.pull-left {
   float: left !important;
}
.pull-right {
    float: right !important;
}