/* Empty. Add your own CSS if you like */
.weather-bg {
    background: url(../img/fog.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}